# Enter the number of years of experience (integer)
Experience years: 1
# Select one degree (None; Bachelor; Master; PhD)
Academic degree:a sd asd asd
# Select one or more programming languages you are proficient in (None; Bachelor; Master; PhD)
Academic degree:a sda sd
